
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
}
.page{
    height: 100vh;
    display: flex;
    gap: 10px;
}
.wallpaper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
                url('./images/library.jpg');
    background-size: cover;
    color: aliceblue;
    text-align: center;
}
#line1{
    font-size: 50px;
    margin-top: 100px;
}
#line2{
    max-width: 50%;
    margin-left: 160px;
    font-size: 25px;
}
#line3{
    margin-left: 250px;
}
.wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
 
}


.form{
    width: 60%;
    height: 73%;
    border: 1px solid rgb(205, 201, 201);
    border-radius: 10px;
}
#logintext{
    margin-left: 15px;
    font-size: 25px;
}
.input-cover{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.inputbox{
    position: relative;
    margin-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 30px
}
.inputbox input{
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(205, 201, 201);
    border-radius: 5px;
    padding-left: 20px;
}
.inputbox .icon{
    position: absolute;
    top: 16px;
    right: 50px;
    transform: translateY(-50%)
    ;
}
.remember-forget{
    display: flex;
    font-size: 15px;
    margin: -15px 0 15px 25px;
    gap: 70px;
}
.register-btn{
    height: 30px;
    width: 60%;
    margin-top: 1px;
   margin-left: 75px;
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid rgb(205, 201, 201);
    cursor: pointer;
}
.Or-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.Or-text::before,
.Or-text::after{
        content: "";
        flex: 1;
        border-bottom: 1px solid #000; 
        margin: 0 10px; 
}

.google-btn{
    margin-left: 110px;
    margin-top: 10px;
    width: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.icon-image{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}
.bottom{
    margin-left: 68px;
    margin-top: 10px;
}
#blue{
    color: blue;
}